
:root {
  font-size: 18px;
  --gray30: black;
  --gray20: #212429;
  --gray10: #616161;
}

body {
  color: var(--gray30);
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

h1 {

  font-size: 48px;
  margin-block-start: 80px;
  margin-block-end: 16px;
}
.subtitle{
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  margin-block-start: 16;
  margin-block-end: 40px;
}
.underline{
  text-decoration: underline;
}
h2 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  margin-block: 40px;
}

h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
}

hr {
  margin-block: 64px;
  border-color: rgba(97, 97, 97, 0.2);
}
img{
  width: 90%;
}
pre {
  margin-block: 40px;
  background: #E5E5E5;
  padding: 24px;
  overflow: auto;
  border-radius: 8px;
  line-height: 24px;

}

p {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 32px;
}

ul li{

  font-size: 21px;
  line-height: 32px;
  margin-block: 24px;
}
ul{
  margin-block-end:40px;
}

.lista{
  counter-increment: titleList;
}

ol li {
  line-height: 45px;
}
ol li::marker {
  color: white;
  z-index: 1;
}
ol li::before {
  position:relative;
  content: counter(titleList, decimal)'..';
  background: black;
  padding-inline: 10px;
  padding-block: 8px;
  border-radius: 50%;
  inset-inline-start: -29px ;
  z-index: -1;
}
blockquote {
  margin-block: 32px;
  margin-inline-start: 0;
  line-height: 24px;
  font-size: 24px;
  border-inline-start: 4px solid var(--gray30) ;
  padding-inline-start: 16px;
}
blockquote p {
  color: black;
  font-style: italic;
  font-size: 21px;
  line-height: 32px;
}

.main {
}

.wrapper {
  max-inline-size: 680px;
  margin: auto;
}

.main-content {
  padding-inline: 16px;
}

@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }
  .header {
    /* position: sticky; */
    inset-block-start: -45px;
  }
  .header-content {
    /* position: relative; */
    inset-block-start: 65px;
    padding-inline: 0;
  }
  header {
    /* position: absolute; */
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 100%;
    padding-inline-start: 16px;
  }
  h1 {
    font-size: 60px;
    margin-block-start: 64px;
  }
}

